<!doctype html>
<html ng-app="pianoApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/piano.css"/>
  <link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-controller="PianoController">
  <div class="p-wrapper p-wrapper-lower">
    <ul class="piano piano-lower">
      <li><div class="anchor note" ng-click="click($event, 'A1')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'B1')"></div><span class="note" ng-click="click($event, 'Bb1')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C2')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D2')"></div><span class="note" ng-click="click($event, 'Db2')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E2')"></div><span class="note" ng-click="click($event, 'Eb2')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F2')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G2')"></div><span class="note" ng-click="click($event, 'Gb2')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A2')"></div><span class="note" ng-click="click($event, 'Ab2')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B2')"></div><span class="note" ng-click="click($event, 'Bb2')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C3')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D3')"></div><span class="note" ng-click="click($event, 'Db3')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E3')"></div><span class="note" ng-click="click($event, 'Eb3')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F3')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G3')"></div><span class="note"  ng-click="click($event, 'G3')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A3')"></div><span class="note"  ng-click="click($event, 'A3')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B3')"></div><span class="note"  ng-click="click($event, 'B3')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C4')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D4')"></div><span class="note"  ng-click="click($event, 'D4')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E4')"></div><span class="note"  ng-click="click($event, 'E4')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F4')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G4')"></div><span class="note"  ng-click="click($event, 'G4')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A4')"></div><span class="note"  ng-click="click($event, 'A4')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B4')"></div><span class="note"  ng-click="click($event, 'B4')"></span></li>
      <li><div class="anchor rest" ng-click="click($event, 'rest')"></div></li>
    </ul>
  </div>
  <div class="p-wrapper">
    <ul class="piano">
      <li><div class="anchor note" ng-click="click($event, 'C5')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D5')"></div><span class="note"  ng-click="click($event, 'D5')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E5')"></div><span class="note"  ng-click="click($event, 'E5')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F5')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G5')"></div><span class="note"  ng-click="click($event, 'G5')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A5')"></div><span class="note"  ng-click="click($event, 'A5')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B5')"></div><span class="note"  ng-click="click($event, 'B5')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C6')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D6')"></div><span class="note"  ng-click="click($event, 'D6')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E6')"></div><span class="note"  ng-click="click($event, 'E6')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F6')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G6')"></div><span class="note"  ng-click="click($event, 'G6')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A6')"></div><span class="note"  ng-click="click($event, 'A6')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B6')"></div><span class="note"  ng-click="click($event, 'B6')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C7')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'D7')"></div><span class="note"  ng-click="click($event, 'D7')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'E7')"></div><span class="note"  ng-click="click($event, 'E7')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'F7')"></div></li>
      <li><div class="anchor note" ng-click="click($event, 'G7')"></div><span class="note"  ng-click="click($event, 'G7')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'A7')"></div><span class="note"  ng-click="click($event, 'A7')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'B7')"></div><span class="note"  ng-click="click($event, 'B7')"></span></li>
      <li><div class="anchor note" ng-click="click($event, 'C8')"></div></li>
    </ul>
  </div>

  <div class="display">
    <div class="info-display">
      <span class="current-notes"></span>
      <span class="note-length"></span>
    </div>
  </div>

  <button class="add">Add</button>
  <button class="play">Play</button>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> <!-- Change this to be // on production -->
  <script src="scripts/band.min.js"></script>
  <script src="app.js"></script>
</body>