html, body {
  height: 100%;
}
.p-wrapper {
  left: 0;
  margin: auto;
  width: 1000px;
}

ul.piano {
  width: 880px;
  position: relative;
  margin: auto;
}

.selected {
  background: rgb(243, 255, 155) !important; /* Refactor this, important = sketchy */
}

.p-wrapper-lower {
  width: 1040px;
}

ul.piano.piano-lower {
  width: 960px;
}

.display {
  position: relative;
  margin-top: 20px;
  height: 250px;
  border: 2px black solid;
}

/*display the current notes*/
.info-display {
  position: absolute;
  bottom: 0; right: 0;
  width: 200px;
  height: 100px;
}

ul.piano li div.anchor.rest {
  background: linear-gradient(-30deg,grey, #f5f5f5);
}

.add, .play, .json {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
}

.play {
  top: 50px;
}

.json {
  top: 100px;
}

textarea.modal-body.ng-scope {
  width: 100%;
}