html, body {
  height: 100%;
}
.p-wrapper {
  left: 0;
  margin: auto;
  width: 1000px;
}

ul.piano {
  width: 880px;
  position: relative;
  margin: auto;
}

ul.piano li .note.selected {
  background: rgb(243, 255, 155);
}

.p-wrapper-lower {
  width: 1040px;
}

ul.piano.piano-lower {
  width: 960px;
}

.display {
  position: relative;
  margin-top: 20px;
  height: 250px;
  border: 2px black solid;
}

/*display the current notes*/
.info-display {
  display: inline-block;
  width: 200px;
  height: 100%;
}

.song-display {
  display: inline-block;
  font-size: 24px;
  height: 100%;
  width: calc(100% - 220px);
  vertical-align: top;
  overflow: scroll;
}

ul.piano li div.anchor.rest {
  background: linear-gradient(-30deg,grey, #f5f5f5);
}

.add, .play, .json {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
}

.play {
  top: 60px;
}

.instrument-name {
  color: gold;
}
.json {
  top: 110px;
}

textarea.modal-body.ng-scope {
  width: 100%;
  min-height: 500px;
}