.p-wrapper {
  left: 0;
  margin: auto;
  width: 1240px;
}

ul.piano {
  position: relative;
  width: 1160px;
  margin: auto;
}

.selected {
  background: red !important; /* Refactor this, important = sketchy */
}

.p-wrapper-lower {
  width: 1000px;
}

ul.piano.piano-lower {
  width: 920px;
}

/*display the current notes*/
.current-notes {
  position: absolute;
  bottom: 0; right: 0;
  width: 200px;
  height: 200px;
  background-color: blue;
}